--- 
option_settings: 
  - option_name: BACKEND
    value: "${BACKEND}"
  - option_name: BACKENDS
    value: "${BACKENDS}"
  - option_name: SERVER_NAME
    value: "${SERVER_NAME}"
  - option_name: FRONTEND
    value: "${FRONTEND}"
  - option_name: PROXY_DOMAINS
    value: "${PROXY_DOMAINS}"
  - option_name: COOKIES
    value: "${COOKIES}"
  - option_name: SECRET_KEY
    value: "${SECRET_KEY}"
  - option_name: MEMCACHED
    value: "${MEMCACHED}"
    